<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Test SELENIUM</title>

    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="layout.css">
</head>


<body>
    <div class="wrapper">
        <input class="test" type="button" value="Test Button">
        <span>Toi la Quang</span>

        <div class="debug">
            <img class="img1">
            <img class="img2">
            <img class="img3">
            <img class="img4">
        </div>
    </div>

    <script src="xuly.js"></script>
</body>
</html>